@import "mixins";
html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-family-yantramanav);
  @include font-face($font-size-regular*1px, 300, var(--color-dark));
}

h2{
  font-family: var(--font-family-yantramanav);
  @include font-face($font-size-header-second*0.1rem, 700, var(--color-white));
  text-transform: none;
}
h3{
  font-family: var(--font-family-yantramanav);
  @include font-face($font-size-header-third*0.1rem, 700, var(--color-white));
  text-transform: uppercase;
}
h4{
  font-family: var(--font-family-yantramanav);
  @include font-face($font-size-header-fourth*0.1rem, 600, var(--color-dark));
  text-transform: uppercase;
}

.orange {
  background-color: var(--color-orange);
}
.dark {
  background-color: var(--color-dark);
}